
<nav>
  <a routerLink="/dashboard" class="btn btn-primary">Dashboard</a>
  <a routerLink="/stats/immobili" class="btn btn-primary">Stats</a>
</nav>
<router-outlet></router-outlet>

<pre>
  Install Bootstrap + NgBottstrp
  https://medium.com/codingthesmartway-com-blog/building-an-angular-5-project-with-bootstrap-4-and-firebase-4504ff7717c1

  lazy loading
  https://scotch.io/tutorials/lazy-loading-in-angular-v2
  https://github.com/scotch-io/angular-lazyload/tree/master/src/app/dashboard
</pre>
